#slider {
  position: relative;
  height: 400px;
  width: 90%;
  max-width: 1024px;
  margin: 200px auto 0 auto;
}

#slider .slide {
  position: absolute;
  top: 0;
  left: 0;
}

#slider .slide img {
  display: block;
  width: 100%;
}

#slider .headline {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #f5f5f5;
  font-size: 2em;
  background: #7bccc1;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  #slider .headline {
    top: 10px;
    right: 10px;
    font-size: 1em;
    padding: 5px;
  }
}
